.back{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-image: linear-gradient(#e66465, #9198e5);
    min-height:200px;
    background-size:cover;
}
#profile-pic{
  border-radius: 50%;
}

.items{
  margin-top:200px;
  width:50%;
  height:700px;
  margin-left:auto;
  margin-right:auto;
}

.img-hover-zoom {
  height: 250px; /* Modify this according to your need */
}
.img-hover-zoom--colorize img {
  transition: transform .5s, filter 1.5s ease-in-out;
  filter: grayscale(100%);
}

/* The Transformation */
.img-hover-zoom--colorize:hover img {
  filter: grayscale(0);
  transform: scale(1.1);
}
